<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
    </a>
    <h1>Outside the Drop</h1>
    <p>A collective of DJs, ravers and party goers that work to put on some of the best undergrounds in the bay area. Check out our weekly radio show takeover on <a href="//hellaloud.fm">hellaloud.fm</a> every wednesday night from 7 - 10 pm (Pacific). Also stay tuned for our upcoming party on May 7th 2016 we go Inside the Drop bringin you Dummy at a fresh secure venue.</p>
    <a type="button" class="btn btn-lg btn-default" href="#butttouches"><span class="glyphicon glyphicon-flash"></span> Touch the Butt</a>
    <a type="button" class="btn btn-lg btn-primary" href="#insidethedrop"><span class="glyphicon glyphicon-download"></span> Inside the Drop</a>
  </div>
</div>

</body>
</html>
